/.project
/.pydevproject
/tika.egg-info
/build
/dist
*.log
/.settings/
/tika/*.pyc
/tika/*/*.pyc
.DS_Store
/setup.cfg
.idea
.venv
.vscode
.pytest_cache
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.benchmarks
stubs